<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

    <head>
        <base href="http://localhost:8088" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>文件分享</title>
        <link rel="stylesheet" href="../static/layui/css/layui.css">
        <script src="../static/layui/layui.js"></script>
        <script type="text/javascript">
            layui.use(['layer'], function () {
                var layer = layui.layer;
            });
        </script>
    </head>

    <body>
        <table lay-filter="demo" id='demo'>
            <thead>
                <tr>
                    <th lay-data="{width:'5%', type:'checkbox'}"></th>
                    <th lay-data="{field:'id', hide: 'true'}"></th>
                    <th
                        lay-data="{field:'name', width: '80%', sort: true, templet: '#titleTpl', style: 'font-size: 16px;'}">
                        文件名</th>
                    <th lay-data="{field:'type', hide: true}"></th>
                    <th lay-data="{field:'size', width:'15%', sort: true, style: 'font-size: 16px;'}">大小</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td th:text="${file.id}"></td>
                    <td th:text="${file.name}"></td>
                    <td th:text="${file.type}"></td>
                    <td th:text="${file.type == 'folder' ? '-' : file.size}"></td>
                </tr>
            </tbody>
        </table>
        <script src="../static/js/jquery-3.3.1.js"></script>
        <script type="text/html" id="titleTpl">
            {{#  if(d.type === 'folder'){ }}
            <i class="layui-icon layui-icon-layer"></i>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="changeFileDisplay('{{d.id}}')" class="layui-table-link">{{d.name}}</a>
            {{#  } else { }}
            <i class="layui-icon layui-icon-file"></i>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="" class="layui-table-link">{{d.name}}</a>
            {{#  } }}
        </script>
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="return">返回上一级</button>
                <button class="layui-btn layui-btn-sm" lay-event="index">我的网盘</button>
            </div>
        </script>
        <script>
            layui.use(['table'], function () {
                window.table = layui.table;

                var parentId = [];

                table.init('demo', {
                    height: 315 //设置高度
                    ,limit: 10000 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据
                    ,toolbar: '#toolbar'
                    ,defaultToolbar: []
                });
                table.on('checkbox(demo)', function(obj){
                    
                    let html = table.checkStatus('demo').data.length === 0 ? '<button class="layui-btn layui-btn-sm" lay-event="return">返回上一级</button><button class="layui-btn layui-btn-sm" lay-event="index">我的网盘</button>' : '<button class="layui-btn layui-btn-sm" lay-event="return">返回上一级</button><button class="layui-btn layui-btn-sm" lay-event="index">我的网盘</button><button class="layui-btn layui-btn-sm" lay-event="saveFile">保存至我的网盘</button>';
                    $(".layui-table-tool .layui-btn-container").html(html);
                });
                table.on('toolbar(demo)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id);

                    let id = peek(parentId);
                    id = id === undefined ? '' : id;

                    console.log(checkStatus);
                    
                    switch(obj.event){
                        case 'return':
                            if (parentId.length === 1) {
                                window.location.reload();
                            } else if (parentId.length < 1) {
                                layer.msg("当前已是第一级!");
                            } else {
                                parentId.pop();
                                url = '/WSSComponent/share/view/' + peek(parentId);
                                table.reload("demo", {
                                    url: url,
                                })
                            }
                        break;
                        case 'index': 
                            window.location.href='/';
                        break;
                        case 'saveFile': 
                            if (checkStatus.length < 1) {
                                layer.msg("请选择文件！");
                                return;
                            }
                            let saveList = [];
                            $.each(checkStatus.data, function(i, data){
                                saveList.push(data.id);
                            });
                            $.ajax({
                                url: '/WSSComponent/share/saveFile',
                                data: {saveList: saveList},
                                dataType: 'JSON',
                                type: 'POST',
                                traditional: true,
                                success: function(result){
                                    if (result === -1) {
                                        layer.msg("参数错误！");
                                    } else {
                                        layer.msg("已保存"+result+"条数据至网盘！");
                                    }
                                }
                            })
                        break;
                    }
                });

                window.changeFileDisplay = function (id) {
                    parentId.push(id);
                    console.log(parentId);
                    
                    table.reload("demo", {
                        url: '/WSSComponent/share/view/' + id,
                    })
                }

                window.peek = function (obj) {
                    let tmp = obj.pop();
                    if (tmp !== null && tmp !== undefined) {
                        obj.push(tmp);
                    }
                    return tmp;
                }
            });
            
        </script>
    </body>

</html>